/*Setting header properties*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Setting the header 1 properties in header*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d9dcd6;
}
/*Setting the header's section properties which includes the list*/
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Setting UL defaults*/
.header section ul {
    list-style-type: none;
}
/*Setting UL LI defaults*/
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}
/*Setting anchor default*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*Setting paragraph default*/
p {
    font-size: 16px;
}
/*Setting up background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Setting Body defaults */
body {
    background-color: #d9dcd6;
}
/*Setting Float values */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*For content in the body */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*For details in the body */
.benefits {
    margin-right: 20px; margin-bottom: 32px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/*Setting body header*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;    
}
/*Setting body imgs*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;    
}
/*Setting each paragraph in each body*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Setting defaults for img in the body*/
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/*Setting defaults for headers in the body*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*Setting up footer defaults*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
